.section {
  background-image: url('../images/DJI_0142.jpg'), url('../images/DJI_0142.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/DJI_0142.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(75, 71, 71, 0.17), rgba(75, 71, 71, 0.17));
}

.inner-container {
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-right {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.inner-left {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.div-block-5 {
  width: 300px;
  height: 300px;
  background-image: url('../images/JDV-Logo-Round.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.div-block-6 {
  width: 300px;
  height: 300px;
  background-image: url("https://assets.website-files.com/642b353f07a463149095912f/642b37fab3eabca9302fcdf2_LJ's%20Pantry%20New%20Logo.png");
  background-position: 50% 50%;
  background-size: cover;
}

.inner-mid {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: space-around;
}

.inner-top {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
}

.text-block {
  font-family: Jdvirtualsans, sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
}

.div-block-7 {
  width: 100%;
  height: 10%;
}

.heading {
  font-family: Jdvirtualsans, sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #56c0fe;
}

.link:visited {
  color: #fff;
}

@font-face {
  font-family: 'Jdvirtualsans';
  src: url('../fonts/JDVirtualSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}